
body { padding: 30px;}
canvas{margin-top:20px;}
input[type="text"],input[type="range"] {
  border: 1px solid #ddd;
  padding: 6px;
  font-size: 18px;
  width:200px;
  display: inline-block;
} 
input[type="range"]{width:100px;margin: 3px 0 10px 0;}
#export {
  display: inline-block;
  height: 45px;
  line-height:45px;
  color: #fff;
  font-size: 18px;
  background-color:#1EF;
  text-decoration:none; 
  padding:0px 15px 0px 15px;
}
span{display:inline-block;font-family:Arial;white-space:nowrap;}
#imgRes { display:none;}



@media print {
  .noPrint{display:none !important;}
  #imgRes {display:block; }
  #title .credits {
    display: block;
    width: 100%;
    line-height: 30px;
    text-align: center;
  }
  #title .credits .left {
    float: none;
    display: block;
  }
  #title .credits .right {
    float: none;
    display: block;
  }
  .credits,form,#header,#title,#cnv{display:none} 

}
